body {
    color: white;
    overflow-x:hidden;
	padding:0px; 
	margin:0px;
	background: #191d1e; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
#top-bar_text {
    position: fixed;
    left: 40%;
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 50;
    font-size:large
}

.top-bar{
    border: solid;
    position: fixed;
    height: 50px;
    text-align: center;
    left: 70px;
    right: 70px;
    overflow: hidden;
    background-color: #111;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.project {
    border: 5px solid black;
    width: 300px;
    height: 500px;
    background-color: rgb(54, 12, 2);
    margin: 10px;
    align-content: center;
}

h2 {
    text-align: center;
}
p{
    padding: 15px;
}