
* {
  box-sizing: border-box;
  margin: 2px;
}


html, body {
  color: white;
  overflow-x:hidden;
  width:100%; 
	height:100%; 
	padding:0px; 
	margin:0px;
	background: #191d1e; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed
}


#canvas{
  position:fixed;
  margin: 0px;
  border: solid;
  width: 100%;
  height:100%;
  display: flex;
}


/* MENU ANIMATION */
.openbtn {
  cursor: pointer;
  background-color: #111;
  padding: 10px 15px;
  border: none;
  left: 1;
  right: 1;
  top: 1;
  width: 100%;
  position: fixed;
}
.openbtn:hover {
  background-color: rgb(19, 18, 18);
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* SIDE PANEL*/
.sidepanel {
    margin-top: 60px;
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  left: 1;
  background-color: rgb(229, 229, 238);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  overflow: hidden;
  opacity: 40%;
}
.sidepanel a {
  text-decoration: none;
  padding-top: 50px;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 2px;

}
.sidepanel a:hover {
    background-color: #a78181;
}

#welcome_text {
    position: fixed;
    top: 3px;
    width: 100%;
    height: 60px;
    text-align: center;
    left: 50px;
    overflow: hidden;
}


#main {
    border: solid;
    position: absolute;
    top: 10%;
    left: 70px;
    width: 95%;
}

#home{
  padding:100px;
}

#about{
  padding:100px;
}

#projects{
  padding:100px;
}

#contact{
  padding:100px;
}

#hobbies{
  padding:100px;
}



/* LIST OF PROJECTS */

.blockchain {
  padding:50px;
  position: relative;
}
.project_head {  
  width: 50%;
}

.project_image {
  border: solid;
  height: 300px;
  width: auto;
}

.project_content {
  border: solid;
  background: rgba(0, 0, 0, 0.75); /* Black see-through */
  color: white;
  font-size: 13px;
  padding: 15px;
  text-align: center;
  width:auto;
  height:300px;
  position:absolute;
  left: 60%;
  bottom:60px;
}


*,
::before,
::after {
  box-sizing: border-box;
}
.container {
  position:fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: right;
}

.blackhole {
  width: 1em;
  height: 1em;
  /* background-color: red; */
}

.blackhole .megna {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(#e9e3e1, #815443, #33312d);
  /* box-shadow: 0 0 60px 30px rgba(255, 175, 83, 0.7); */
  box-shadow: 0 0 60px 30px #9b9996, /* inner white */ 0 0 100px 60px #fd7a4d,
    /* middle magenta */ 0 0 140px 90px #613144; /* outer cyan */
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(5px);
}

.blackhole .black {
  width: 90%;
  height: 90%;
  border-radius: 45% 50% 50% 50%;
  background-color: black;
  transform: rotate(0deg);
  animation: hole 0.1s linear infinite normal;
}

@keyframes hole {
  100% {
    transform: rotate(360deg);
  }
}
