* {
  margin: 1px;
  
}


html, body {
  color: white;
  overflow-x:hidden;
  width:100%; 
	height:100%; 
	padding:0px; 
	margin:0px;
	background: #191d1e; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed
}


#canvas{
  position:fixed;
  margin: 0px;
  width: 100%;
  height:100%;
}


/* MENU ANIMATION */
.openbtnRight {
  cursor: pointer;
  background-color: #111;
  padding: 10px 15px;
  top:1px;
  right:1px;
  position: fixed;
}

.sidepanelRight {
  margin-top: 60px;
  height: 100%; 
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  right: 1px;
  background-color: rgb(229, 229, 238,.00);
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.5s;
  overflow: hidden;
  opacity: 40%;
}
.sidepanelRight a {
  text-decoration: none;
  padding-top: 50px;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 2px;
}
.sidepanelRight a:hover {
    background-color: #a78181;
}

.openbtn {
  cursor: pointer;
  background-color: #111;
  padding: 10px 15px;
  left: 1px;
  top: 1px;
  position: fixed;
}
.openbtn:hover {
  background-color: rgb(19, 18, 18);
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* SIDE PANEL*/
.sidepanel {
  margin-top: 60px;
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  left: 1;
  background-color: rgb(229, 229, 238,.00);
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.5s;
  overflow: hidden;
  opacity: 40%;
}
.sidepanel a {
  text-decoration: none;
  padding-top: 50px;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 2px;

}
.sidepanel a:hover {
    background-color: #a78181;
}

#welcome_text {
    position: fixed;
    left: 40%;
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 50;
    font-size:large
}

.top-bar{
  position: fixed;
    height: 60px;
    text-align: center;
    left: 70px;
    right: 70px;
    overflow: hidden;
    background-color: #111;
}

#resume{
  position: absolute;
  right: 5px;
  bottom: 0px;
  font-size: 35px;
  height: 55px;
  color: #818181;
}


#main {
    /* border: solid; */
    position: absolute;
    top: 10%;
    left: 70px;
    right:70px;
}

#home{
  padding:100px;
  justify-content: center;
}
#intro{
  display: flex;
  justify-content: center;
}

#about{
  padding:100px;
}

.quote{
  padding: 15px;
  text-align: right;

}

.aim_button {
  background-color: black;
  border: none;
  color:orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}


#projects{
  position:relative;
  padding:100px;
}

#contact{
  position:relative;
  padding:100px;
}

#hobbies{
  position:relative;
  padding:100px;
}



/* LIST OF PROJECTS */

.project {
  padding:50px;
}
.project_head {  
  border-bottom: solid;
}

.project_image {
  border:dotted;
  width: 50%;
}

.project_content {
  background: rgba(0, 0, 0, 0.50); /* Black see-through */
  color: white;
  font-size:medium;
  padding: 15px;
  text-align: center;
  
}
