/* MENU ANIMATION */
.openbtn {
  cursor: pointer;
  background-color: #111;
  padding: 10px 15px;
  border: none;
  left: 1;
  right: 1;
  top: 1;
  width: 100%;
  position: fixed;
}
.openbtn:hover {
  background-color: rgb(19, 18, 18);
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* SIDE PANEL*/
.sidepanel {
    margin-top: 60px;
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  left: 1;
  background-color: rgb(229, 229, 238);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  overflow: hidden;
  opacity: 40%;
}
.sidepanel a {
  text-decoration: none;
  padding-top: 50px;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 2px;

}
.sidepanel a:hover {
    background-color: #a78181;
}

#welcome_text {
    position: fixed;
    top: 3px;
    width: 100%;
    height: 60px;
    text-align: center;
    left: 50px;
    overflow: hidden;
}



#main {
    position: absolute;
    top: 70px;
    left: 15%;
}


* {box-sizing: border-box}

.project_items {
  position: relative;
  right: 25px;

  
}

/* Make the image to responsive */
.project_image {
  display: block;
  width: 50%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.75); /* Black see-through */
  color: #f1f1f1;
  width: 50%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.project_items:hover .overlay {
  opacity: 1;
}